@model Order

<h1>Order Details Page</h1>
<subtitle>Build out a form to contain the 
    fraud order info and the chance to push the order through or reject the order</subtitle>
<h1>Test if the model info comes through:</h1>
<p>@Model.TransactionId</p>
<p>@Model.Date</p>