@{
    ViewBag.Title = "Products";
}

<div class="container">
    <div class="row text-center">
        <h1 class="title">Product Catalog</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="row">
                @foreach (var product in ViewBag.Products)
                {
                    <a class="product_box" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@product.ProductId">
                        <div class="product_img_box">
                            <img class="product_img" src="@product.ImgLink"/>
                        </div>
                        <p class="product_name">@product.Name</p>
                        <div class="row">
                            <div class="col">
                                <p class="product_price">$@product.Price.00</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>