@using INTEX2._0.Models
@{
    ViewBag.Title = "Users";
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #ddd;
    }
</style>

<h2>@ViewBag.Title</h2>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Name</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="UpdateUser" asp-route-id="@user.UserID">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

