@{
    ViewBag.Title = "Confirmation";
}
<div class="container">
    <div class="row justify-content-center">
        <img src="~/img/intex_logo.png" alt="brick blocks logo" style="width: 50%; height: auto;"/>
    </div>
    <div class="row justify-content-center">
        <div class="order_details_container">
            <h1 class="title text-center">Order Confirmation</h1>
            <p>Order number # is confirmed.</p>
        </div>
    </div>
</div>