@{
    ViewBag.Title = "Review";
}

@{
    ViewBag.Title = "Confirmation";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="order_details_container">
            <div class="row text-center">
                <h1 class="title">Order Pending</h1>
                <p class="product_subtitle">Order number @ViewBag.OrderNum is currently being reviewed.</p>
                <p class="product_subtitle">You will be notified via email with updates on your order</p>
            </div>
        </div>
    </div>
</div>