
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row" style="margin-top: 2em;">
        <h1 class="title text-center">About Us</h1>
    </div>
    <div class="row" style="margin-top: 4em;">
        <div class="col">
            <h1 class="title">Our Story</h1>
            <p>Welcome to BrickBlocks, the brainchild of renowned LEGO™ collector and master builder, 
                Aurora Brickwell. With a passion for LEGO™ that knows no bounds, 
                Aurora has transformed her love for these iconic building blocks into a thriving business venture.</p>
            <p>Aurora's journey began as a dedicated collector, amassing an impressive array of LEGO™ 
                sets that captivated the imagination of enthusiasts worldwide. As her collection grew, 
                so did her reputation within the LEGO™ community, leading to the development of BrickBlocks.</p>
        </div>
        <div class="col">
            <img src="~/lego_women.jpg" alt="Aurora as a lego minifigure"/>
        </div>
    </div>
    <div class="row" style="margin-top: 4em; margin-bottom: 2em;">
        <div class="col">
            <img src="~/lego_graph.jpg" alt="Lego minifigure pointing at a graph"/>
        </div>
        <div class="col">
            <h1 class="title">What Sets Us Apart</h1>
            <p>Utilizing her distributor license with The Lego Group™, Aurora brings the magic of 
                LEGO™ directly to her audience through various social media platforms and trade shows. 
                With a large and loyal following, she seamlessly connects with LEGO™ enthusiasts, 
                offering them access to exclusive sets and limited-edition releases.</p>
            <p>At BrickBlocks, we pride ourselves on delivering exceptional products and unparalleled customer service. 
                Whether you're a seasoned collector or a newcomer to the world of LEGO™, 
                Aurora's expertise ensures that every purchase is met with enthusiasm and attention to detail.
                With a wealth of experience and a dataset brimming with valuable insights, Aurora continues to 
                push the boundaries of creativity and innovation in the LEGO™ community. Join us at BrickBlocks 
                and embark on a journey filled with endless possibilities and boundless imagination.</p>
        </div>
    </div>
</div>