@{
    ViewBag.Title = "Home";
}

<div style={{width: 1920, height: 2494, position: 'relative', background: 'white'}}>
  <div style={{width: 1520, height: 804, left: 200, top: 205, position: 'absolute'}}>
    <div style={{width: 1520, height: 804, left: 0, top: 0, position: 'absolute', background: '#EDF2EE', boxShadow: '0px 4px 4px rgba(0, 0, 0, 0.25)', borderRadius: 8}}></div>
    <div style={{width: 48, height: 8, left: 736, top: 653, position: 'absolute', justifyContent: 'flex-start', alignItems: 'center', gap: 8, display: 'inline-flex'}}>
      <div style={{width: 8, height: 8, background: '#B4CCB4', borderRadius: 9999}} />
      <div style={{width: 16, height: 8, background: '#4B9F4A', borderRadius: 50}} />
      <div style={{width: 8, height: 8, background: '#B4CCB4', borderRadius: 9999}} />
    </div>
    <img style={{width: 819.17, height: 484.52, left: 672, top: 123, position: 'absolute', mixBlendMode: 'overlay'}} src="https://via.placeholder.com/819x485" />
    <div style={{width: 596, height: 293, left: 96, top: 240, position: 'absolute'}}>
      <div style={{width: 596, height: 194, left: 0, top: 0, position: 'absolute', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
        <div style={{textAlign: 'center', color: '#4B9F4A', fontSize: 14, fontFamily: 'Poppins', fontWeight: '500', textTransform: 'uppercase', lineHeight: 14, letterSpacing: 0.28, wordWrap: 'break-word'}}>WELCOME TO BrICKBLOCKS</div>
        <div style={{width: 596, color: '#1A1A1A', fontSize: 72, fontFamily: 'Poppins', fontWeight: '600', lineHeight: 86.40, wordWrap: 'break-word'}}>Expand Your Creativity</div>
      </div>
      <div style={{width: 191, height: 51, paddingLeft: 40, paddingRight: 40, paddingTop: 16, paddingBottom: 16, left: 0, top: 242, position: 'absolute', background: '#4B9F4A', borderRadius: 53, justifyContent: 'center', alignItems: 'center', gap: 16, display: 'inline-flex'}}>
        <div style={{color: 'white', fontSize: 16, fontFamily: 'Poppins', fontWeight: '600', lineHeight: 19.20, wordWrap: 'break-word'}}>Shop now</div>
        <div style={{width: 15, height: 12.05, position: 'relative'}}>
          <div style={{width: 15, height: 0, left: 0, top: 6.02, position: 'absolute', border: '1.50px white solid'}}></div>
          <div style={{width: 6.05, height: 12.05, left: 8.95, top: 0, position: 'absolute', border: '1.50px white solid'}}></div>
        </div>
      </div>
    </div>
  </div>
  <div style={{left: 296, top: 1139, position: 'absolute', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 50, display: 'inline-flex'}}>
    <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 16, display: 'flex'}}>
      <div style={{color: '#1A1A1A', fontSize: 40, fontFamily: 'Poppins', fontWeight: '600', lineHeight: 48, wordWrap: 'break-word'}}>Featured Products</div>
      <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', gap: 4, display: 'inline-flex'}}>
        <div style={{width: 12, height: 4, opacity: 0.30, background: '#4B9F4A'}} />
        <div style={{width: 40, height: 4, background: '#4B9F4A'}} />
        <div style={{width: 12, height: 4, opacity: 0.30, background: '#4B9F4A'}} />
      </div>
    </div>
    <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', gap: 20, display: 'inline-flex'}}>
      <div style={{width: 248, height: 339, position: 'relative', background: 'white', borderRadius: 8, overflow: 'hidden', border: '1px #E6E6E6 solid'}}>
        <div style={{width: 248, height: 248, padding: 1, left: 0, top: 0, position: 'absolute', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
          <img style={{flex: '1 1 0', alignSelf: 'stretch'}} src="https://via.placeholder.com/246x246" />
        </div>
        <div style={{paddingTop: 12, paddingBottom: 16, paddingLeft: 16, paddingRight: 16, left: 0, top: 248, position: 'absolute', flexDirection: 'column', justifyContent: 'center', alignItems: 'flex-start', gap: 6, display: 'inline-flex'}}>
          <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'flex'}}>
            <div style={{width: 216, color: '#4D4D4D', fontSize: 14, fontFamily: 'Poppins', fontWeight: '400', lineHeight: 21, wordWrap: 'break-word'}}>Snow White’s Cottage</div>
            <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', gap: 4, display: 'inline-flex'}}>
              <div style={{color: '#1A1A1A', fontSize: 16, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 24, wordWrap: 'break-word'}}>$14.99</div>
            </div>
          </div>
          <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#CCCCCC'}}></div>
            </div>
          </div>
        </div>
        <div style={{width: 40, height: 40, left: 192, top: 274, position: 'absolute'}}>
          <div style={{width: 40, height: 40, left: 0, top: 0, position: 'absolute', background: '#F2F2F2', borderRadius: 9999}} />
          <div style={{width: 20, height: 20, padding: 2.50, left: 10, top: 10, position: 'absolute', justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
            <div style={{width: 15, height: 15, border: '1.30px #1A1A1A solid'}}></div>
          </div>
        </div>
      </div>
      <div style={{width: 248, height: 339, position: 'relative', background: 'white', borderRadius: 8, overflow: 'hidden', border: '1px #E6E6E6 solid'}}>
        <div style={{padding: 1, left: 0, top: 0, position: 'absolute', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
          <img style={{width: 246, height: 246}} src="https://via.placeholder.com/246x246" />
        </div>
        <div style={{paddingTop: 12, paddingBottom: 16, paddingLeft: 16, paddingRight: 16, left: 0, top: 248, position: 'absolute', flexDirection: 'column', justifyContent: 'center', alignItems: 'flex-start', gap: 6, display: 'inline-flex'}}>
          <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'flex'}}>
            <div style={{width: 216, color: '#4D4D4D', fontSize: 14, fontFamily: 'Poppins', fontWeight: '400', lineHeight: 21, wordWrap: 'break-word'}}>BARC Speeder Escape</div>
            <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', gap: 4, display: 'inline-flex'}}>
              <div style={{color: '#1A1A1A', fontSize: 16, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 24, wordWrap: 'break-word'}}>$14.99</div>
            </div>
          </div>
          <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#CCCCCC'}}></div>
            </div>
          </div>
        </div>
        <div style={{width: 40, height: 40, left: 192, top: 274, position: 'absolute'}}>
          <div style={{width: 40, height: 40, left: 0, top: 0, position: 'absolute', background: '#F2F2F2', borderRadius: 9999}} />
          <div style={{width: 20, height: 20, padding: 2.50, left: 10, top: 10, position: 'absolute', justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
            <div style={{width: 15, height: 15, border: '1.30px #1A1A1A solid'}}></div>
          </div>
        </div>
      </div>
      <div style={{width: 248, height: 339, position: 'relative', background: 'white', borderRadius: 8, overflow: 'hidden', border: '1px #E6E6E6 solid'}}>
        <div style={{padding: 1, left: 0, top: 0, position: 'absolute', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
          <img style={{width: 246, height: 246}} src="https://via.placeholder.com/246x246" />
        </div>
        <div style={{paddingTop: 12, paddingBottom: 16, paddingLeft: 16, paddingRight: 16, left: 0, top: 248, position: 'absolute', flexDirection: 'column', justifyContent: 'center', alignItems: 'flex-start', gap: 6, display: 'inline-flex'}}>
          <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'flex'}}>
            <div style={{width: 216, color: '#4D4D4D', fontSize: 14, fontFamily: 'Poppins', fontWeight: '400', lineHeight: 21, wordWrap: 'break-word'}}>Dungeons & Dragons</div>
            <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', gap: 4, display: 'inline-flex'}}>
              <div style={{color: '#1A1A1A', fontSize: 16, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 24, wordWrap: 'break-word'}}>$14.99</div>
            </div>
          </div>
          <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#CCCCCC'}}></div>
            </div>
          </div>
        </div>
        <div style={{width: 40, height: 40, left: 192, top: 274, position: 'absolute'}}>
          <div style={{width: 40, height: 40, left: 0, top: 0, position: 'absolute', background: '#F2F2F2', borderRadius: 9999}} />
          <div style={{width: 20, height: 20, padding: 2.50, left: 10, top: 10, position: 'absolute', justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
            <div style={{width: 15, height: 15, border: '1.30px #1A1A1A solid'}}></div>
          </div>
        </div>
      </div>
      <div style={{width: 248, height: 339, position: 'relative', background: 'white', boxShadow: '0px 0px 12px rgba(32.36, 180.62, 38.01, 0.32)', borderRadius: 8, overflow: 'hidden', border: '1px #FFD700 solid'}}>
        <div style={{width: 248, height: 248, left: 0, top: 0, position: 'absolute'}}>
          <img style={{width: 246, height: 246, left: 1, top: 1, position: 'absolute'}} src="https://via.placeholder.com/246x246" />
          <div style={{width: 40, height: 86, left: 191, top: 16, position: 'absolute'}}>
            <div style={{width: 40, height: 40, left: 0, top: 0, position: 'absolute', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
              <div style={{width: 40, height: 40, background: 'white', borderRadius: 9999, border: '1px #F2F2F2 solid'}} />
              <div style={{width: 20, height: 20, paddingTop: 2.67, paddingBottom: 2.45, paddingLeft: 1.35, paddingRight: 1.35, justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
                <div style={{width: 17.30, height: 14.87, border: '1.50px #1A1A1A solid'}}></div>
              </div>
            </div>
            <div style={{width: 40, height: 40, left: 0, top: 46, position: 'absolute', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
              <div style={{width: 40, height: 40, background: 'white', borderRadius: 9999, border: '1px #F2F2F2 solid'}} />
              <div style={{width: 20, height: 20, paddingLeft: 1.25, paddingRight: 1.25, paddingTop: 3.54, paddingBottom: 3.54, justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
                <div style={{width: 17.50, height: 12.92, position: 'relative'}}>
                  <div style={{width: 17.50, height: 12.92, left: 0, top: 0, position: 'absolute', border: '1.50px #1A1A1A solid'}}></div>
                  <div style={{width: 6.25, height: 6.25, left: 5.62, top: 3.33, position: 'absolute', border: '1.50px #1A1A1A solid'}}></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style={{paddingTop: 12, paddingBottom: 16, paddingLeft: 16, paddingRight: 16, left: 0, top: 248, position: 'absolute', flexDirection: 'column', justifyContent: 'center', alignItems: 'flex-start', gap: 6, display: 'inline-flex'}}>
          <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'flex'}}>
            <div style={{width: 216, color: '#4D4D4D', fontSize: 14, fontFamily: 'Poppins', fontWeight: '400', lineHeight: 21, wordWrap: 'break-word'}}>Sanctum Santorum</div>
            <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', gap: 4, display: 'inline-flex'}}>
              <div style={{color: '#1A1A1A', fontSize: 16, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 24, wordWrap: 'break-word'}}>$14.99</div>
            </div>
          </div>
          <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#CCCCCC'}}></div>
            </div>
          </div>
        </div>
        <div style={{width: 40, height: 40, left: 192, top: 274, position: 'absolute'}}>
          <div style={{width: 40, height: 40, left: 0, top: 0, position: 'absolute', background: '#FFD700', borderRadius: 9999}} />
          <div style={{width: 20, height: 20, padding: 2.50, left: 10, top: 10, position: 'absolute', justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
            <div style={{width: 15, height: 15, border: '1.30px white solid'}}></div>
          </div>
        </div>
      </div>
      <div style={{width: 248, height: 339, position: 'relative', background: 'white', borderRadius: 8, overflow: 'hidden', border: '1px #E6E6E6 solid'}}>
        <div style={{padding: 1, left: 0, top: 0, position: 'absolute', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
          <img style={{width: 246, height: 246}} src="https://via.placeholder.com/246x246" />
        </div>
        <div style={{paddingTop: 12, paddingBottom: 16, paddingLeft: 16, paddingRight: 16, left: 0, top: 248, position: 'absolute', flexDirection: 'column', justifyContent: 'center', alignItems: 'flex-start', gap: 6, display: 'inline-flex'}}>
          <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'flex'}}>
            <div style={{width: 216, color: '#4D4D4D', fontSize: 14, fontFamily: 'Poppins', fontWeight: '400', lineHeight: 21, wordWrap: 'break-word'}}>Hagrid’s Hut</div>
            <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', gap: 4, display: 'inline-flex'}}>
              <div style={{color: '#1A1A1A', fontSize: 16, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 24, wordWrap: 'break-word'}}>$14.99</div>
            </div>
          </div>
          <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#FF8A00'}}></div>
            </div>
            <div style={{width: 12, height: 12, paddingTop: 1.13, paddingBottom: 1.50, paddingLeft: 1.12, paddingRight: 1.12, justifyContent: 'center', alignItems: 'center', display: 'flex'}}>
              <div style={{width: 9.75, height: 9.37, background: '#CCCCCC'}}></div>
            </div>
          </div>
        </div>
        <div style={{width: 40, height: 40, left: 192, top: 274, position: 'absolute'}}>
          <div style={{width: 40, height: 40, left: 0, top: 0, position: 'absolute', background: '#F2F2F2', borderRadius: 9999}} />
          <div style={{width: 20, height: 20, padding: 2.50, left: 10, top: 10, position: 'absolute', justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
            <div style={{width: 15, height: 15, border: '1.30px #1A1A1A solid'}}></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style={{width: 1920, height: 353, left: 0, top: 2141, position: 'absolute'}}>
    <div style={{width: 1920, height: 353, left: 0, top: 0, position: 'absolute', background: '#464646', boxShadow: '0px 4px 4px rgba(0, 0, 0, 0.25)'}}></div>
    <div style={{width: 515, height: 167, left: 127, top: 93, position: 'absolute'}}><span style="color: 'white', fontSize: 32, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 48, wordWrap: 'break-word'">About BrickBlocks<br/></span><span style="color: '#D7D7D7', fontSize: 22, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 33, wordWrap: 'break-word'">BrickBlocks is a licensed LEGO retailer that gurantees quality in customer interaction as well as order fulfillment</span></div>
    <div style={{width: 230, height: 136, left: 1102, top: 87, position: 'absolute'}}>
      <div style={{width: 228, height: 37, left: 2, top: 99, position: 'absolute', color: '#D7D7D7', fontSize: 22, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 33, wordWrap: 'break-word'}}>Privacy Policy</div>
      <div style={{width: 230, height: 37, left: 0, top: 58, position: 'absolute', color: '#D7D7D7', fontSize: 22, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 33, wordWrap: 'break-word'}}>About BrickBlocks</div>
      <div style={{width: 228, height: 37, left: 0, top: 0, position: 'absolute', color: 'white', fontSize: 32, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 48, wordWrap: 'break-word'}}>About Us</div>
    </div>
    <div style={{width: 233, height: 136, left: 1409, top: 87, position: 'absolute'}}>
      <img style={{width: 71, height: 71, left: 0, top: 58, position: 'absolute'}} src="https://via.placeholder.com/71x71" />
      <img style={{width: 75, height: 85, left: 71, top: 51, position: 'absolute'}} src="https://via.placeholder.com/75x85" />
      <img style={{width: 72, height: 73, left: 146, top: 58, position: 'absolute'}} src="https://via.placeholder.com/72x73" />
      <div style={{width: 228, height: 37, left: 5, top: 0, position: 'absolute', color: 'white', fontSize: 32, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 48, wordWrap: 'break-word'}}>Follow Us</div>
    </div>
    <div style={{width: 231, height: 138, left: 784, top: 85, position: 'absolute'}}>
      <div style={{width: 228, height: 37, left: 1, top: 101, position: 'absolute', color: '#D7D7D7', fontSize: 22, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 33, wordWrap: 'break-word'}}>Shop LEGO Products</div>
      <div style={{width: 230, height: 37, left: 1, top: 57, position: 'absolute', color: '#D7D7D7', fontSize: 22, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 33, wordWrap: 'break-word'}}>Shopping Cart</div>
      <div style={{width: 228, height: 37, left: 0, top: 0, position: 'absolute', color: 'white', fontSize: 32, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 48, wordWrap: 'break-word'}}>Shop<br/></div>
    </div>
  </div>
  <div style={{width: 1856, height: 236, left: 11, top: -51, position: 'absolute'}}>
    <div style={{width: 94, height: 34, left: 1762, top: 96, position: 'absolute', justifyContent: 'flex-start', alignItems: 'center', gap: 12, display: 'inline-flex'}}>
      <div style={{width: 34, height: 34, position: 'relative'}}>
        <div style={{width: 34, height: 34, padding: 4.25, left: 0, top: 0, position: 'absolute', justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
          <div style={{width: 25.50, height: 25.50, border: '1.50px #1A1A1A solid'}}></div>
        </div>
        <div style={{width: 18, paddingTop: 3.50, paddingBottom: 4.50, paddingLeft: 6, paddingRight: 6, left: 18, top: -2, position: 'absolute', background: '#2C742F', borderRadius: 16, overflow: 'hidden', border: '1px white solid', justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
          <div style={{textAlign: 'center', color: 'white', fontSize: 10, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 10, wordWrap: 'break-word'}}>2</div>
        </div>
      </div>
      <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', gap: 7, display: 'inline-flex'}}>
        <div style={{color: '#1A1A1A', fontSize: 14, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 14, wordWrap: 'break-word'}}>$57.00</div>
      </div>
    </div>
    <div style={{width: 53, height: 21, paddingRight: 1, left: 1466, top: 107, position: 'absolute', background: 'white', justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
      <div style={{color: '#1A1A1A', fontSize: 20, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 30, wordWrap: 'break-word'}}>Shop</div>
    </div>
    <div style={{width: 91, height: 30, left: 1548, top: 103, position: 'absolute', justifyContent: 'flex-start', alignItems: 'center', gap: 4, display: 'inline-flex'}}>
      <div style={{color: '#1A1A1A', fontSize: 20, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 30, wordWrap: 'break-word'}}>About Us</div>
    </div>
    <div style={{width: 69, height: 30, left: 1662, top: 103, position: 'absolute', justifyContent: 'flex-start', alignItems: 'center', gap: 4, display: 'inline-flex'}}>
      <div style={{color: '#1A1A1A', fontSize: 20, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 30, wordWrap: 'break-word'}}>Logout</div>
    </div>
    <img style={{width: 496, height: 236, left: 0, top: 0, position: 'absolute'}} src="https://via.placeholder.com/496x236" />
  </div>
  <div style={{width: 917, height: 328, left: 217, top: 1698, position: 'absolute'}}>
    <div style={{width: 200, height: 210, paddingTop: 32, paddingBottom: 24, left: 317, top: 118, position: 'absolute', background: 'white', borderRadius: 6, border: '1px #EDEDED solid', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 20, display: 'inline-flex'}}>
      <div style={{width: 80, height: 80, position: 'relative', mixBlendMode: 'color'}}>
        <div style={{width: 59.62, height: 67.04, left: 16.19, top: 1.17, position: 'absolute', background: '#FFCF5D'}}></div>
        <div style={{width: 49.76, height: 67.04, left: 26.05, top: 1.17, position: 'absolute', background: '#FFB545'}}></div>
        <div style={{width: 10.16, height: 14.84, left: 9.04, top: 32.81, position: 'absolute', background: '#28D05B'}}></div>
        <div style={{width: 36.06, height: 31.25, left: 1.17, top: 45.95, position: 'absolute', background: '#FF5368'}}></div>
        <div style={{width: 28.53, height: 29.31, left: 8.70, top: 47.89, position: 'absolute', background: '#D9435B'}}></div>
        <div style={{width: 31.25, height: 34.17, left: 47.68, top: 44.61, position: 'absolute', background: '#FF983B'}}></div>
        <div style={{width: 28.21, height: 28.20, left: 50.73, top: 50.57, position: 'absolute', background: '#FF7E40'}}></div>
        <div style={{width: 10.16, height: 13.55, left: 62.14, top: 36.84, position: 'absolute', background: '#28D05B'}}></div>
        <div style={{width: 6.94, height: 6.95, left: 45.67, top: 15.45, position: 'absolute', background: '#28D05B'}}></div>
        <div style={{width: 14.96, height: 12.09, left: 36.03, top: 19.94, position: 'absolute', background: '#D9435B'}}></div>
        <div style={{width: 10.43, height: 10.43, left: 37.25, top: 17.06, position: 'absolute', background: '#FF5368'}}></div>
        <div style={{width: 6.49, height: 6.49, left: 39.72, top: 0, position: 'absolute', background: '#28D05B'}}></div>
        <div style={{width: 14.04, height: 14.04, left: 30.35, top: 1.82, position: 'absolute', background: '#FF5368'}}></div>
        <div style={{width: 14.02, height: 13.42, left: 30.38, top: 2.44, position: 'absolute', background: '#D9435B'}}></div>
        <div style={{width: 15.62, height: 15.62, left: 14.38, top: 16.21, position: 'absolute', background: '#5C87BD'}}></div>
        <div style={{width: 14.74, height: 14.74, left: 15.26, top: 17.10, position: 'absolute', background: '#456EA2'}}></div>
        <div style={{width: 80, height: 80, left: -0, top: 0, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 17.95, height: 17.98, left: 13.18, top: 15.05, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 4.68, height: 4.69, left: 19.46, top: 18.96, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 17.01, height: 17.04, left: 29.14, top: 0, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 2.34, height: 2.34, left: 36.19, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 2.34, height: 2.35, left: 32.88, top: 10.95, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 2.34, height: 2.34, left: 32.88, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 2.34, height: 2.35, left: 36.19, top: 10.95, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 2.34, height: 2.34, left: 39.50, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 2.34, height: 2.34, left: 36.19, top: 4.32, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 17.73, height: 17.76, left: 34.81, top: 15.46, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 2.34, height: 2.34, left: 54.79, top: 54.22, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 2.34, height: 2.34, left: 57.92, top: 58.59, position: 'absolute', background: '#1A1A1A'}}></div>
        <div style={{width: 2.34, height: 2.34, left: 51.67, top: 62.03, position: 'absolute', background: '#1A1A1A'}}></div>
      </div>
      <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 6, display: 'flex'}}>
        <div style={{width: 200, textAlign: 'center', color: '#1A1A1A', fontSize: 18, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 27, wordWrap: 'break-word'}}>Star Wars</div>
        <div style={{width: 200, textAlign: 'center', color: '#808080', fontSize: 14, fontFamily: 'Poppins', fontWeight: '400', lineHeight: 21, wordWrap: 'break-word'}}>137 Products</div>
      </div>
    </div>
    <div style={{width: 45, height: 45, left: 45, top: 201, position: 'absolute', transform: 'rotate(180deg)', transformOrigin: '0 0', justifyContent: 'center', alignItems: 'center', display: 'inline-flex'}}>
      <div style={{width: 45, height: 45, background: 'white', borderRadius: 9999, border: '1px #E6E6E6 solid'}} />
    </div>
    <div style={{width: 310, height: 68, left: 607, top: 0, position: 'absolute', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 16, display: 'inline-flex'}}>
      <div style={{color: '#1A1A1A', fontSize: 40, fontFamily: 'Poppins', fontWeight: '600', lineHeight: 48, wordWrap: 'break-word'}}>Top Categories</div>
      <div style={{justifyContent: 'flex-start', alignItems: 'flex-start', gap: 4, display: 'inline-flex'}}>
        <div style={{width: 12, height: 4, opacity: 0.30, background: '#00B207'}} />
        <div style={{width: 40, height: 4, background: '#00B207'}} />
        <div style={{width: 12, height: 4, opacity: 0.30, background: '#00B207'}} />
      </div>
    </div>
  </div>
  <div style={{paddingTop: 32, paddingBottom: 24, left: 761, top: 1823, position: 'absolute', background: 'white', borderRadius: 6, border: '1px #EDEDED solid', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 20, display: 'inline-flex'}}>
    <div style={{width: 80, height: 80, position: 'relative', mixBlendMode: 'color'}}>
      <div style={{width: 59.62, height: 67.04, left: 16.19, top: 1.17, position: 'absolute', background: '#FFCF5D'}}></div>
      <div style={{width: 49.76, height: 67.04, left: 26.05, top: 1.17, position: 'absolute', background: '#FFB545'}}></div>
      <div style={{width: 10.16, height: 14.84, left: 9.04, top: 32.81, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 36.06, height: 31.25, left: 1.17, top: 45.95, position: 'absolute', background: '#FF5368'}}></div>
      <div style={{width: 28.53, height: 29.31, left: 8.70, top: 47.89, position: 'absolute', background: '#D9435B'}}></div>
      <div style={{width: 31.25, height: 34.17, left: 47.68, top: 44.61, position: 'absolute', background: '#FF983B'}}></div>
      <div style={{width: 28.21, height: 28.20, left: 50.73, top: 50.57, position: 'absolute', background: '#FF7E40'}}></div>
      <div style={{width: 10.16, height: 13.55, left: 62.14, top: 36.84, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 6.94, height: 6.95, left: 45.67, top: 15.45, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 14.96, height: 12.09, left: 36.03, top: 19.94, position: 'absolute', background: '#D9435B'}}></div>
      <div style={{width: 10.43, height: 10.43, left: 37.25, top: 17.06, position: 'absolute', background: '#FF5368'}}></div>
      <div style={{width: 6.49, height: 6.49, left: 39.72, top: 0, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 14.04, height: 14.04, left: 30.35, top: 1.82, position: 'absolute', background: '#FF5368'}}></div>
      <div style={{width: 14.02, height: 13.42, left: 30.38, top: 2.44, position: 'absolute', background: '#D9435B'}}></div>
      <div style={{width: 15.62, height: 15.62, left: 14.38, top: 16.21, position: 'absolute', background: '#5C87BD'}}></div>
      <div style={{width: 14.74, height: 14.74, left: 15.26, top: 17.10, position: 'absolute', background: '#456EA2'}}></div>
      <div style={{width: 80, height: 80, left: -0, top: 0, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 17.95, height: 17.98, left: 13.18, top: 15.05, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 4.68, height: 4.69, left: 19.46, top: 18.96, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 17.01, height: 17.04, left: 29.14, top: 0, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 36.19, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.35, left: 32.88, top: 10.95, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 32.88, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.35, left: 36.19, top: 10.95, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 39.50, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 36.19, top: 4.32, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 17.73, height: 17.76, left: 34.81, top: 15.46, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 54.79, top: 54.22, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 57.92, top: 58.59, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 51.67, top: 62.03, position: 'absolute', background: '#1A1A1A'}}></div>
    </div>
    <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 6, display: 'flex'}}>
      <div style={{width: 200, textAlign: 'center', color: '#1A1A1A', fontSize: 18, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 27, wordWrap: 'break-word'}}>Vehicles</div>
      <div style={{width: 200, textAlign: 'center', color: '#808080', fontSize: 14, fontFamily: 'Poppins', fontWeight: '400', lineHeight: 21, wordWrap: 'break-word'}}>137 Products</div>
    </div>
  </div>
  <div style={{paddingTop: 32, paddingBottom: 24, left: 986, top: 1823, position: 'absolute', background: 'white', borderRadius: 6, border: '1px #EDEDED solid', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 20, display: 'inline-flex'}}>
    <div style={{width: 80, height: 80, position: 'relative', mixBlendMode: 'color'}}>
      <div style={{width: 59.62, height: 67.04, left: 16.19, top: 1.17, position: 'absolute', background: '#FFCF5D'}}></div>
      <div style={{width: 49.76, height: 67.04, left: 26.05, top: 1.17, position: 'absolute', background: '#FFB545'}}></div>
      <div style={{width: 10.16, height: 14.84, left: 9.04, top: 32.81, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 36.06, height: 31.25, left: 1.17, top: 45.95, position: 'absolute', background: '#FF5368'}}></div>
      <div style={{width: 28.53, height: 29.31, left: 8.70, top: 47.89, position: 'absolute', background: '#D9435B'}}></div>
      <div style={{width: 31.25, height: 34.17, left: 47.68, top: 44.61, position: 'absolute', background: '#FF983B'}}></div>
      <div style={{width: 28.21, height: 28.20, left: 50.73, top: 50.57, position: 'absolute', background: '#FF7E40'}}></div>
      <div style={{width: 10.16, height: 13.55, left: 62.14, top: 36.84, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 6.94, height: 6.95, left: 45.67, top: 15.45, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 14.96, height: 12.09, left: 36.03, top: 19.94, position: 'absolute', background: '#D9435B'}}></div>
      <div style={{width: 10.43, height: 10.43, left: 37.25, top: 17.06, position: 'absolute', background: '#FF5368'}}></div>
      <div style={{width: 6.49, height: 6.49, left: 39.72, top: 0, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 14.04, height: 14.04, left: 30.35, top: 1.82, position: 'absolute', background: '#FF5368'}}></div>
      <div style={{width: 14.02, height: 13.42, left: 30.38, top: 2.44, position: 'absolute', background: '#D9435B'}}></div>
      <div style={{width: 15.62, height: 15.62, left: 14.38, top: 16.21, position: 'absolute', background: '#5C87BD'}}></div>
      <div style={{width: 14.74, height: 14.74, left: 15.26, top: 17.10, position: 'absolute', background: '#456EA2'}}></div>
      <div style={{width: 80, height: 80, left: -0, top: 0, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 17.95, height: 17.98, left: 13.18, top: 15.05, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 4.68, height: 4.69, left: 19.46, top: 18.96, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 17.01, height: 17.04, left: 29.14, top: 0, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 36.19, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.35, left: 32.88, top: 10.95, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 32.88, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.35, left: 36.19, top: 10.95, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 39.50, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 36.19, top: 4.32, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 17.73, height: 17.76, left: 34.81, top: 15.46, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 54.79, top: 54.22, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 57.92, top: 58.59, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 51.67, top: 62.03, position: 'absolute', background: '#1A1A1A'}}></div>
    </div>
    <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 6, display: 'flex'}}>
      <div style={{width: 200, textAlign: 'center', color: '#1A1A1A', fontSize: 18, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 27, wordWrap: 'break-word'}}>Minifigures</div>
      <div style={{width: 200, textAlign: 'center', color: '#808080', fontSize: 14, fontFamily: 'Poppins', fontWeight: '400', lineHeight: 21, wordWrap: 'break-word'}}>137 Products</div>
    </div>
  </div>
  <div style={{paddingTop: 32, paddingBottom: 24, left: 1212, top: 1823, position: 'absolute', background: 'white', borderRadius: 6, border: '1px #EDEDED solid', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 20, display: 'inline-flex'}}>
    <div style={{width: 80, height: 80, position: 'relative', mixBlendMode: 'color'}}>
      <div style={{width: 59.62, height: 67.04, left: 16.19, top: 1.17, position: 'absolute', background: '#FFCF5D'}}></div>
      <div style={{width: 49.76, height: 67.04, left: 26.05, top: 1.17, position: 'absolute', background: '#FFB545'}}></div>
      <div style={{width: 10.16, height: 14.84, left: 9.04, top: 32.81, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 36.06, height: 31.25, left: 1.17, top: 45.95, position: 'absolute', background: '#FF5368'}}></div>
      <div style={{width: 28.53, height: 29.31, left: 8.70, top: 47.89, position: 'absolute', background: '#D9435B'}}></div>
      <div style={{width: 31.25, height: 34.17, left: 47.68, top: 44.61, position: 'absolute', background: '#FF983B'}}></div>
      <div style={{width: 28.21, height: 28.20, left: 50.73, top: 50.57, position: 'absolute', background: '#FF7E40'}}></div>
      <div style={{width: 10.16, height: 13.55, left: 62.14, top: 36.84, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 6.94, height: 6.95, left: 45.67, top: 15.45, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 14.96, height: 12.09, left: 36.03, top: 19.94, position: 'absolute', background: '#D9435B'}}></div>
      <div style={{width: 10.43, height: 10.43, left: 37.25, top: 17.06, position: 'absolute', background: '#FF5368'}}></div>
      <div style={{width: 6.49, height: 6.49, left: 39.72, top: 0, position: 'absolute', background: '#28D05B'}}></div>
      <div style={{width: 14.04, height: 14.04, left: 30.35, top: 1.82, position: 'absolute', background: '#FF5368'}}></div>
      <div style={{width: 14.02, height: 13.42, left: 30.38, top: 2.44, position: 'absolute', background: '#D9435B'}}></div>
      <div style={{width: 15.62, height: 15.62, left: 14.38, top: 16.21, position: 'absolute', background: '#5C87BD'}}></div>
      <div style={{width: 14.74, height: 14.74, left: 15.26, top: 17.10, position: 'absolute', background: '#456EA2'}}></div>
      <div style={{width: 80, height: 80, left: -0, top: 0, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 17.95, height: 17.98, left: 13.18, top: 15.05, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 4.68, height: 4.69, left: 19.46, top: 18.96, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 17.01, height: 17.04, left: 29.14, top: 0, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 36.19, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.35, left: 32.88, top: 10.95, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 32.88, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.35, left: 36.19, top: 10.95, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 39.50, top: 7.63, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 36.19, top: 4.32, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 17.73, height: 17.76, left: 34.81, top: 15.46, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 54.79, top: 54.22, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 57.92, top: 58.59, position: 'absolute', background: '#1A1A1A'}}></div>
      <div style={{width: 2.34, height: 2.34, left: 51.67, top: 62.03, position: 'absolute', background: '#1A1A1A'}}></div>
    </div>
    <div style={{flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', gap: 6, display: 'flex'}}>
      <div style={{width: 200, textAlign: 'center', color: '#1A1A1A', fontSize: 18, fontFamily: 'Poppins', fontWeight: '500', lineHeight: 27, wordWrap: 'break-word'}}>Disney</div>
      <div style={{width: 200, textAlign: 'center', color: '#808080', fontSize: 14, fontFamily: 'Poppins', fontWeight: '400', lineHeight: 21, wordWrap: 'break-word'}}>137 Products</div>
    </div>
  </div>
  <img style={{width: 74, height: 81, left: 1049, top: 1866, position: 'absolute'}} src="https://via.placeholder.com/74x81" />
  <img style={{width: 100, height: 100, left: 585, top: 1853, position: 'absolute'}} src="https://via.placeholder.com/100x100" />
  <img style={{width: 87, height: 88, left: 1266, top: 1865, position: 'absolute'}} src="https://via.placeholder.com/87x88" />
  <img style={{width: 100, height: 100, left: 811, top: 1859, position: 'absolute'}} src="https://via.placeholder.com/100x100" />
</div>
