@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <p class="welcome">WELCOME TO BRICKBLOCKS</p>
        <h1 class="hero_text">Expand Your Creativity</h1>
        <button class="btn btn-primary main_btn">Shop</button>
    </div>
    <div class="row">
        <title>Featured Products</title>
        <div class="product_box">
            <p class="product_name">Product 1</p>
            <p class="product_price">$10.00</p>
        </div>
    </div>
    <div class="row">
        <title>Top Categories</title>
    </div>
    
</div>
