@{
    ViewData["Title"] = "Secret Information";
}
<h1>@ViewData["Title"]</h1>

<p>One interesting secret is that there is a hidden room inside Mount Rushmore! 
    This room, known as the "Hall of Records," was designed by the sculptor Gutzon Borglum as a 
    repository for important documents about America's history. It was intended to hold copies of
    the Declaration of Independence, the Constitution, and other significant records. However, due to 
    funding issues and Borglum's death, the room was never completed. Despite this, the Hall of Records 
    remains a fascinating part of the Mount Rushmore National Memorial, hidden behind the presidential 
    faces and inaccessible to the public.
</p>
