/* NAV BAR */
.admin_nav_bar_container {
    display: inline-flex;
    padding-bottom: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
}

.admin_nav_item {
    display: flex;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.admin_nav_item:hover {
    background: #EDF2EE;
    box-shadow: 3px 0px 0px 0px #20B526 inset;
}

/* ADMIN HOME */
.admin_profile_box {
    width: 33.5rem;
    height: 17.375rem;
    border-radius: 0.5rem;
    border: 1px solid #E6E6E6;
}

.admin_profile_img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 7.5rem;
}

/* ORDER DETAILS PAGE*/
.input-md {
    display: flex;
    width: 18.875rem;
    height: 3.0625rem;
    padding: 0.875rem 16.0625rem 0.875rem 1rem;
    align-items: center;
    border-radius: 0.375rem;
    border: 1px solid #E6E6E6;
}

.input-sm {
    display: flex;
    width: 6.0625rem;
    height: 3.0625rem;
    padding: 0.75rem 1.8125rem 1.125rem 1.8125rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    border: 1px solid #E6E6E6;
}

.fraud_text, .fraud_link {
    color: #F2705E;
}

.fraud_link:hover {
    color: #F2705E;
    font-weight: bold;
    text-decoration: none;
}

.safe_text {
    color: #20B526;
}

/* ADD / EDIT PAGES */
.input-lg {
    display: flex;
    width: 32rem;
    height: 3.0625rem;
    padding: 0.875rem 31rem 0.875rem 1rem;
    align-items: center;
    border-radius: 0.375rem;
    border: 1px solid #E6E6E6;
}

.input-xl {
    display: flex;
    width: 32.75rem;
    height: 11.1875rem;
    padding: 1.25rem 2.125rem 8.9375rem 29.625rem;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.375rem;
    border: 1px solid #E6E6E6;
}

.form_box {
    width: 61.5rem;
    height: 33.5rem;
    border-radius: 0.5rem;
    border: 1px solid #E6E6E6;
}

.table_heading {
    color: #4D4D4D;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.75rem */
    letter-spacing: 0.0225rem;
    text-transform: uppercase;
    text-align: center;
}

.thead_row {
    background: #F2F2F2;
}