<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src *; font-src 'self' https://fonts.gstatic.com; connect-src 'self';" />
				<add name="Strict-Transport-Security" value="max-age=3600; includeSubDomains; preload" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>